@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --header-height: 50px;
  --radius: 1rem;
  --background: oklch(1 0 0);
  --foreground: oklch(27.8% 0.033 256.848);
  --card: oklch(1 0 0);
  --card-foreground: oklch(27.8% 0.033 256.848);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(27.8% 0.033 256.848);
  --primary: oklch(0.58 0.2257 346.35);
  --primary-foreground: oklch(0.969 0.015 12.422);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.58 0.2257 346.35);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(27.8% 0.033 256.848);
  --sidebar-primary: oklch(0.58 0.2257 346.35);
  --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.58 0.2257 346.35);
}

.dark {
  --background: oklch(27.8% 0.033 256.848);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.645 0.246 16.439);
  --primary-foreground: oklch(0.969 0.015 12.422);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.645 0.246 16.439);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.645 0.246 16.439);
  --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.645 0.246 16.439);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-svg-top::before,
  .bg-svg-bottom::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    pointer-events: none;
  }

  .bg-svg-top::before {
    top: 0;
    background-position: top;
    background-image: url("data:image/svg+xml,%3Csvg width='397' height='289' viewBox='0 0 397 289' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M173 133.5C92 195.5 5.5 216.5 -3.5 277C-12.5 337.5 -81.5 133.5 -81.5 133.5L1.22449 -34.0395C-51.1376 -62.2455 57 -147 57 -147L1.22449 -34.0395C24.1966 -21.665 78.0605 -20.1746 185.5 -41.5C537.835 -111.434 378.278 23.0159 220 57C61.7221 90.9841 254 71.5 173 133.5Z' fill='%23CF2395'/%3E%3Cpath d='M143.07 121.824C73.6647 174.391 -0.453453 192.196 -8.16516 243.492C-15.8769 294.787 -75 121.824 -75 121.824L-4.11696 -20.2256C-48.9838 -44.1402 43.6747 -116 43.6747 -116L-4.11696 -20.2256C15.5669 -9.73381 61.7205 -8.47015 153.781 -26.551C455.681 -85.845 318.964 28.1493 183.342 56.963C47.7209 85.7766 212.475 69.2569 143.07 121.824Z' fill='%23993377'/%3E%3Cpath d='M109.922 112.356C46.6112 161.504 -20.999 178.151 -28.0336 226.11C-35.0682 274.069 -89 112.356 -89 112.356L-24.3408 -20.4548C-65.2681 -42.814 19.2545 -110 19.2545 -110L-24.3408 -20.4548C-6.38535 -10.6454 35.7158 -9.46397 119.693 -26.3688C395.085 -81.8063 270.372 24.7737 146.659 51.7133C22.9454 78.653 173.234 63.2077 109.922 112.356Z' fill='%23772F5F'/%3E%3C/svg%3E");
  }

  .bg-svg-bottom::after {
    bottom: 0;
    background-position: bottom;
    background-image: url("data:image/svg+xml,%3Csvg width='395' height='300' viewBox='0 0 395 300' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M235.296 174.53C311.254 106.446 395.869 78.814 400.159 17.7989C404.449 -43.2163 489.033 154.831 489.033 154.831L419.525 328.271C473.913 352.339 372.66 445.21 372.66 445.21L419.525 328.271C395.664 317.712 341.846 320.395 236.38 349.973C-109.485 446.969 39.1862 300.572 194.359 254.439C349.531 208.305 159.338 242.614 235.296 174.53Z' fill='%23CF2395'/%3E%3Cpath d='M266.04 183.854C331.169 126.073 403.686 102.584 407.404 50.8457C411.122 -0.892758 483.456 166.975 483.456 166.975L423.781 314.085C470.364 334.455 383.546 413.271 383.546 413.271L423.781 314.085C403.344 305.148 357.231 307.461 266.847 332.613C-29.5584 415.098 97.9251 290.863 230.909 251.638C363.894 212.413 200.912 241.636 266.04 183.854Z' fill='%23993377'/%3E%3Cpath d='M299.822 190.728C359.139 136.827 425.257 114.997 428.559 66.6372C431.86 18.2774 498.147 175.331 498.147 175.331L443.962 312.748C486.497 331.872 407.429 405.399 407.429 405.399L443.962 312.748C425.301 304.358 383.235 306.439 300.818 329.793C30.5437 406.381 146.633 290.467 267.89 254.033C389.146 217.598 240.504 244.63 299.822 190.728Z' fill='%23772F5F'/%3E%3C/svg%3E");
  }
}
